{% extends 'dashboard-layout.html' %} 
{% block title %} Fill a Contract {% endblock %}
{% block head %}{% endblock %}
{% block heading %}Fill a Contract{% endblock %}
{% block heading2 %}Fill a Contract{% endblock %}
{% block content %}

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row mt-4">
          <div class="col-md-6">
          <div class="card-deck">
            <div class="card">
              <img src="/static/img/sebastian-herrmann-NbtIDoFKGO8-unsplash.jpg" style="height: 13rem;" class="card-img-top" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Agreement Form</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/select-form/1" class="btn btn-dark">Select</a>
              </div>
            </div>
            <div class="card">
              <img src="/static/img/chris-liverani-HUJDz6CJEaM-unsplash.jpg" style="height: 13rem;" class="card-img-top" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Vehicle Form</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/select-form/2" class="btn btn-dark">Select</a>
              </div>
            </div>
            <!-- <div class="card">
              <img src="/static/img/photo-1515378960530-7c0da6231fb1.jfif" class="card-img-top" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Order Form</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/select-form/1" class="btn btn-dark">Select</a>
              </div>
            </div>
            <div class="card">
              <img src="/static/img/photo-1515378960530-7c0da6231fb1.jfif" class="card-img-top" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Donation Form</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/select-form/1" class="btn btn-dark">Select</a>
              </div>
            </div> -->
          </div>
          </div>
        </div>
        <!-- <div class="row mt-4">
          <div class="col-md-12">
          <div class="card-deck">
            <div class="card">
              <img src="/static/img/photo-1515378960530-7c0da6231fb1.jfif" class="card-img-top" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Online Form</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/select-form/1" class="btn btn-dark">Select</a>
              </div>
            </div>
            <div class="card">
              <img src="/static/img/photo-1515378960530-7c0da6231fb1.jfif" class="card-img-top" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Purchase Form</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/select-form/1" class="btn btn-dark">Select</a>
              </div>
            </div>
            <div class="card">
              <img src="/static/img/photo-1515378960530-7c0da6231fb1.jfif" class="card-img-top" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Inspection Form</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/select-form/1" class="btn btn-dark">Select</a>
              </div>
            </div>
            <div class="card">
              <img src="/static/img/photo-1515378960530-7c0da6231fb1.jfif" class="card-img-top" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Employment Form</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/select-form/1" class="btn btn-dark">Select</a>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
          <div class="card-deck">
            <div class="card">
              <img src="/static/img/photo-1515378960530-7c0da6231fb1.jfif" class="card-img-top" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Contact Form</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/select-form/1" class="btn btn-dark">Select</a>
              </div>
            </div>
            <div class="card">
              <img src="/static/img/photo-1515378960530-7c0da6231fb1.jfif" class="card-img-top" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Application Form</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/select-form/1" class="btn btn-dark">Select</a>
              </div>
            </div>
          </div>
        </div>
        </div> -->
        
      </div>
    </section>
    <!-- /.content -->
  {% endblock %}
  {% block scripts %}  {% endblock %}