{% extends 'layout.html' %} 
{% block title %}FAQ{% endblock %}
{% block head %} 
<style>
  @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
.snip1404 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  width: 100%;
  max-width: 1000px;
  margin: 50px 10px;
}
.snip1404 img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}
.snip1404 .plan {
  margin: 0;
  width: 25%;
  position: relative;
  float: left;
  overflow: hidden;
  border: 3px solid #007f9f;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #1ebee7;
}
.snip1404 .plan:hover i,
.snip1404 .plan.hover i {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.snip1404 .plan:first-of-type {
  border-radius: 8px 0 0 8px;
}
.snip1404 .plan:last-of-type {
  border-radius: 0 8px 8px 0;
}
.snip1404 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.snip1404 header {
  background-color: #1ebee7;
  color: #ffffff;
}
.snip1404 .plan-title {
  background-color: black;
  position: relative;
  margin: 0;
  padding: 20px 20px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
}
.snip1404 .plan-title:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 300px 0 0;
  border-color: black transparent transparent;
}
.snip1404 .plan-cost {
  padding: 40px 20px 10px;
  text-align: right;
}
.snip1404 .plan-price {
  font-weight: 600;
  font-size: 3em;
}
.snip1404 .plan-type {
  opacity: 0.8;
  font-size: 0.7em;
  text-transform: uppercase;
}
.snip1404 .plan-features {
  padding: 0 0 20px;
  margin: 0;
  list-style: outside none none;
}
.snip1404 .plan-features li {
  padding: 8px 5%;
}
.snip1404 .plan-features i {
  margin-right: 8px;
  color: black;
}
.snip1404 .plan-select {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}
.snip1404 .plan-select a {
  background-color: black;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
}
.snip1404 .plan-select a:hover {
  background-color: #006882;
}
.snip1404 .plan:hover {
  margin-top: -10px;
  border-color: #331926;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 8px;cursor:pointer;
}
.snip1404 .plan .plan-select {
  padding: 30px 20px;
}
@media only screen and (max-width: 767px) {
  .snip1404 .plan {
    width: 50%;
  }
  .snip1404 .plan-title,
  .snip1404 .plan-select a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .snip1404 .plan-select,
  .snip1404 .featured .plan-select {
    padding: 20px;
  }
  .snip1404 .featured {
    margin-top: 0;
  }
}
@media only screen and (max-width: 440px) {
  .snip1404 .plan {
    width: 100%;
  }
}

</style>

<style>
  .hdg{
    color: #1ebee7;
    text-align: center;
  }
  .block-item-list{
    font-size: 0.8rem;
    padding: 2rem 2rem;
  }
</style>
{% endblock %}
{% block content %}
<div class="body__overflow">
  <div class="">
    <div class="standard__padding-2">
      <div class="padding__mobile choices w-container">
        
        <div class="page editorial-content" style="min-height: 309.4px;">
          <h1 class="hdg">FAQ</h1>
          
          
          <div class="col col-white col100-small"> 
            <div class="inner-padding">
                
              <div class="block-item-list">
                
                      
                          
                    <div class="item">
                      <div class="question">
                        <h2>What services does the site offer and how much do they cost?</h2>
                      </div>
                      <div class="reponse">
                                        <p>Wonder.Legal allows you to <b>create legal documents</b> and <b>certified electronic signatures.</b></p>
                                      <ul>
                                            <li>Creating legal documents: between CAN$&nbsp;1.99 and CAN$&nbsp;79.99</li>
                                          
                                            <li>Electronic signature: CAN$&nbsp;3.99</li>
                                          
                                        </ul>
                      </div>
                    </div>
                  
                        
                        
                      
                <div class="item">
                  <div class="question">
                    <h2>How do you complete and customize a document?</h2>
                  </div>
                  <div class="reponse">
                    <ul>
                      <li>You choose a document.</li>
                      <li><b>The document is created before your eyes</b> as you respond to a questionnaire. Clauses are added or removed, paragraphs are modified, words are changed, etc.</li>
                      <li>At the end, you download the document you created in <b>Word and PDF</b> formats. You can <b>modify the Word document</b> and <b>reuse</b> it however you wish.</li>
                                </ul>
                  </div>
                </div>
          
                      
                 
                  <div class="item">
                    <div class="question">
                      <h2>How do you sign a document?</h2>
                    </div>
                    <div class="reponse">
                      <p>You can sign <b>any document in PDF format</b>, even if you did not create it on our site. All you need to do is <a href="https://www.wonder.legal/en-ca/signature/">upload the document</a> and let us guide you.</p>
                      <p>To learn more, read our <a href="faq-signatures.php">FAQ about electronic signatures</a>.</p>
                    </div>
                  </div>
                      
                      
                  <div class="item">
                    <div class="question">
                      <h2>I purchased a document, but didn't receive it by email. What should I do?</h2>
                    </div>
                    <div class="reponse">
                      <p>It's very rare, but it can happen.</p>
                      <p>Don't worry, just follow the instructions for <a href="procedure_recuperation_document.php">recovering a document</a>.</p>
                    </div>
                  </div>
                
                      
                        <div class="item">
                    <div class="question">
                      <h2>Who creates the templates?</h2>
                    </div>
                    <div class="reponse">
                      <p>The templates are created by <b>attorneys and legal experts.</b></p>
                      <p>Our team of writers is continually growing as the site becomes more and more successful.</p>
                    </div>
                  </div>
                          
                <div class="item">
                  <div class="question">
                    <h2>Who reviews my document?</h2>
                  </div>
                  <div class="reponse">
                    <p>No one. <b>Documents are not reviewed by a human.</b></p>
                                <p>Lawyers and legal experts are the ones who first create the templates. Then our computer program automatically builds your document based on the responses you provide in the form.</p>
                              <p>Our templates cover most typical cases. <b>Have your document reviewed by a lawyer</b> if you think the template may not work for your specific case.</p>
                              </div>
                </div>
                  
                <div class="item">
                  <div class="question">
                    <h2>Do I have to answer all the questions on the form when I create a document?</h2>
                  </div>
                  <div class="reponse">
                    <p>No, but we recommend that you do.</p>
                    <p><b>The document is created based on your responses.</b> Some questions only fill in blanks in the template. Others add or remove entire paragraphs. That's why we recommend that you answer the questions carefully.</p>
                    <p>If you don't know how to respond, you will find help text next to each item in the form to guide you.</p>
                  </div>
                </div>
          
                <div class="item">
                  <div class="question">
                    <h2>Are you a law office?</h2>
                  </div>
                  <div class="reponse">
                    <p>No. The site is created by Miracle, an IT company.</p>
                    <p>We are not a substitute for a lawyer; rather, we <b>offer a technical solution for creating documents.</b> We do not give legal advice and we do not tell you which document to choose or how to complete it.</p>
                  </div>
                </div>
          
                <div class="item last">
                  <div class="question">
                    <h2>Is the site secure?</h2>
                  </div>
                  <div class="reponse">
                    <p>Yes! <b>The data you provide is encrypted.</b> Even we cannot read it, much less share it with others.</p>
                    <p>
                                    Debit card payments are made via Mercanet, BNP Paribas' secure system.													
                                    Paypal secures all transactions completed with Paypal Secure.											</p>
                    <p>We never have access to your credit or debit card number or login credentials.</p>
                  </div>
                </div>
                    
                
              </div>
              
            </div>
          </div>
                <div class="clear-ie89"></div>
              </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}