{% extends 'layout.html' %}
{% block title %}Downloadable Templates of Letters and Contracts{%endblock %}
{% block content %}
				<!--START PAGE -->
				<div class="page editorial-content">

					<div id="homepage">
						<div class="splash-screen">

							<div class="slice slice2 cols">
								<div id="illustration" class="col col50">
									<picture>
										<!-- <source srcset="
										/static/wonder/Style/tpl2019/img/illustration_phone.webp 241w,
										/static/wonder/Style/tpl2019/img/illustration.webp 1x,
										/static/wonder/Style/tpl2019/img/illustration_x2.webp 2x"
											sizes="(max-width: 767px) 241px"
											type="image/webp">
										<source srcset="
										/static/wonder/Style/tpl2019/img/illustration_phone.png 241w,
										/static/wonder/Style/tpl2019/img/illustration.png 1x,
										/static/wonder/Style/tpl2019/img/illustration_x2.png 2x"
											sizes="(max-width: 767px) 241px"
											type="image/png"> -->
										<img width="465" height="301"
											src="/static/wonder/Style/tpl2019/img/illustration.png"
											alt="Create legal documents quickly and easily!"
											/>
									</picture>
								</div>

								<div id="accroche" class="col col50 align-right">
									<h1>Create legal documents quickly and easily!</h1>
									<h2>An innovative system of online forms guides you through the
										creation of your documents</h2>
									<div class="recherche">
										<form
											action="https://www.wonder.legal/en-ca/recherche/recherche_traitement.php"
											method="post">
											<input type="text" name="recherche" autocomplete="off"
												placeholder="Search for a document" id="recherche_accueil"
												class="search-input" size="50" value="" data-root="./"
												data-div-id="recherche_ajax_accueil"
												onkeyup="copier_recherche_vers_menu_haut()">
											<button role="button" aria-label="Search for a document"
												type="submit" name="bouton_recherche" value=" " class="search-bt"></button>
											<div id="recherche_ajax_accueil"></div>
										</form>
									</div>
								</div>
							</div>

							<div class="slice slice4 cols">
								<div id="methodologie" class="steps">

									<div class="step step1">
										<div class="padding">
											<a href="choix-modele/index.html">
												<div class="icon">
													<img width="85" height="58"
														src="/static/wonder/Style/tpl2019/img/svg/icon-stack.svg" alt="Wonder.Legal"
														/>
												</div>
												<h3>1. Choose a template</h3>
												<p>Choose from any of our <br/>118 available documents.</p>
												</a>
											</div>
										</div>

										<div class="step step2">
											<div class="padding">
												<div class="icon">
													<img width="60" height="58"
														src="/static/wonder/Style/tpl2019/img/svg/icon-doc.svg" alt="Wonder.Legal" />
												</div>
												<h3>2. Complete the document</h3>
												<p>Answer a few questions and your <br/>document is created
														automatically.</p>
												</div>
											</div>

											<div class="step step3">
												<div class="padding">
													<div class="icon">
														<img idth="56" height="64"
															src="/static/wonder/Style/tpl2019/img/svg/icon-print.svg" alt="Wonder.Legal"
															/>
													</div>
													<h3>3. Save - Print</h3>
													<p>
														Your document is ready!<br/> Use it however you wish. </p>
													</div>
												</div>


											</div>
										</div>
									</div>


									<div class="second-half">
										<div class="cols">

											<div class="col100 sales-pitch">
												<h2>We help you write your documents!</h2>
												<p>A team of lawyers and legal experts creates the templates</p>
												<div class="stats-items item-2">
													<div class="col col22">
														<div class="inner-padding">
															<div class="number">
																118 </div>
															<p>
																<nombre_de_documents_en_ligne> templates of letters and
																	contracts in Canada </p>
															</div>
														</div>
														<div class="col col22">
															<div class="inner-padding">
																<div class="number">
																	26 </div>
																<p>Available in 26 countries</p>
															</div>
														</div>
													</div>
												</div>


												<div class="home-double-cols">
													<h2>Sample documents to download</h2>
													<div class="col col50">
														<h3>Business</h3>
														<ul class="no-margin-left">
															<li><a href="modele/shareholders-agreement-en-ca.html">Shareholders
																	Agreement</a></li>
															<li><a href="modele/employee-handbook-en-ca.html">Employee
																	Handbook</a></li>
															<li><a href="modele/franchise-agreement-en-ca.html">Franchise
																	Agreement</a></li>
															<li><a href="modele/partnership-agreement-en-ca.html">Partnership
																	Agreement</a></li>
															<li><a href="modele/corporate-bylaws-en-ca.html">Corporate Bylaws</a></li>
															<li><a
																	href="modele/terms-conditions-website-mobile-application-en-ca.html">Terms
																	and Conditions for a Website</a></li>
															<li><a href="modele/loan-agreement-en-ca.html">Loan Agreement</a></li>
															<li><a href="modele/commercial-lease-agreement-en-ca.html">Commercial
																	Lease Agreement</a></li>
															<li><a
																	href="modele/privacy-policy-complaint-mobile-app-website.html">Privacy
																	Policy Complaint (Mobile App/Website)</a></li>
															<li><a href="modele/privacy-policy.html">Website Privacy Policy</a></li>
															<li><a href="modele/marketing-services-agreement.html">Marketing
																	Services Agreement</a></li>
															<li><a href="modele/influencer-marketing-agreement.html">Influencer
																	Marketing Agreement</a></li>
															<li><a href="modele/services-agreement.html">Services Agreement</a></li>
															<li><a href="modele/workplace-technology-security-policy.html">Workplace
																	Technology Security Policy</a></li>
															<li><a href="modele/employment-agreement-en-ca.html">Employment
																	Agreement</a></li>
															<li><a href="modele/artistic-production-agreement.html">Artistic
																	Production Agreement</a></li>
															<li><a href="modele/merchandise-distribution-agreement.html">Merchandise
																	Distribution Agreement</a></li>
															<li><a
																	href="modele/agreement-online-seminars-covid-19-coronavirus.html">Agreement
																	for Online Seminars (Covid-19/Coronavirus)</a></li>
															<li><a href="modele/remote-work-policy-en-ca.html">Remote Work
																	Policy</a></li>
															<li><a href="modele/agreement-for-online-seminars.html">Agreement
																	for Online Seminars</a></li>
														</ul>
													</div>
													<div class="col col50">
														<h3>Personal</h3>
														<ul class="no-margin-left">
															<li><a href="modele/marriage-agreement.html">Marriage Agreement</a></li>
															<li><a href="modele/personal-directive.html">Personal Directive</a></li>
															<li><a href="modele/last-will-testament.html">Last Will and
																	Testament</a></li>
															<li><a href="modele/short-term-lease-agreement-en-ca.html">Short-Term
																	Lease Agreement</a></li>
															<li><a href="modele/child-support-agreement-en-ca.html">Child
																	Support Agreement</a></li>
															<li><a href="modele/residential-subtenancy-agreement.html">Residential
																	Subtenancy Agreement</a></li>
															<li><a href="modele/roommate-agreement-en-ca.html">Roommate
																	Agreement</a></li>
															<li><a
																	href="modele/grant-agreement-non-profit-organizations.html">Grant
																	Agreement for Non-Profit Organizations</a></li>
															<li><a href="modele/cleaning-service-agreement.html">Cleaning
																	Service Agreement</a></li>
															<li><a href="modele/laws-non-profit-organizations.html">By-Laws
																	for Non-Profit Organizations</a></li>
															<li><a href="modele/profit-conflict-interest-policy.html">Not-for-Profit
																	Conflict of Interest Policy</a></li>
															<li><a href="modele/security-deposit-return-letter-en-ca.html">Security
																	Deposit Return Letter</a></li>
															<li><a href="modele/parking-space-lease-agreement-en-ca.html">Parking
																	Space Lease Agreement</a></li>
															<li><a href="modele/power-attorney-property.html">Power of
																	Attorney for Property</a></li>
															<li><a href="modele/pet-care-services-contract.html">Pet Care
																	Services Contract</a></li>
															<li><a href="modele/ordinary-power-attorney.html">Ordinary Power
																	of Attorney</a></li>
															<li><a href="modele/letter-of-critical-illness-leave.html">Letter
																	of Critical Illness Leave</a></li>
															<li><a href="modele/notice-sick-leave.html">Notice of Sick Leave</a></li>
															<li><a href="modele/travel-consent-letter.html">Travel Consent
																	Letter</a></li>
															<li><a href="modele/codicil-last-will-testament-en-ca.html">Codicil
																	to Last Will and Testament</a></li>
														</ul>
													</div>
												</div>


											</div>
										</div>

									</div>

									<div class="clear-ie89"></div>
								</div>
{% endblock %}