<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <title>{% block title %} {% endblock %}</title>
  <meta content="ZoomCare is healthcare on your schedule. We put you in control of
      your health, giving you the Urgent Care, Primary Care, and Specialty Care
      you need — when, where, and how you want it. With same-day visits that
      start on time, evening and weekend hours, and labs and meds on-site, we
      make getting healthcare fast and easy. Whether virtually or in-person at
      one of our neighborhood clinics, ZoomCare is here to help you feel better
      from check-in to check up to check-out. Now that’s beyond better." name="description" />
  <meta content="ZoomCare | Beyond Better Healthcare" property="og:title" />
  <meta content="ZoomCare is healthcare on your schedule. We put you in control of
      your health, giving you the Urgent Care, Primary Care, and Specialty Care
      you need — when, where, and how you want it. With same-day visits that
      start on time, evening and weekend hours, and labs and meds on-site, we
      make getting healthcare fast and easy. Whether virtually or in-person at
      one of our neighborhood clinics, ZoomCare is here to help you feel better
      from check-in to check up to check-out. Now that’s beyond better." property="og:description" />
  <meta
    content="https://assets-global.website-files.com/5edaa80e81168beb57896d2f/609024c7caa7e2294313508a_img-graph.jpg"
    property="og:image" />
  <meta content="ZoomCare | Beyond Better Healthcare" property="twitter:title" />
  <meta content="ZoomCare is healthcare on your schedule. We put you in control of
      your health, giving you the Urgent Care, Primary Care, and Specialty Care
      you need — when, where, and how you want it. With same-day visits that
      start on time, evening and weekend hours, and labs and meds on-site, we
      make getting healthcare fast and easy. Whether virtually or in-person at
      one of our neighborhood clinics, ZoomCare is here to help you feel better
      from check-in to check up to check-out. Now that’s beyond better." property="twitter:description" />
  <meta
    content="https://assets-global.website-files.com/5edaa80e81168beb57896d2f/609024c7caa7e2294313508a_img-graph.jpg"
    property="twitter:image" />
  <meta property="og:type" content="website" />
  <meta content="summary_large_image" name="twitter:card" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta content="kCT1ltlLjkAK_UFKMUtQecY6MMhXIfMU2rwMCAJwqQI" name="google-site-verification" />
  <link href="https://assets-global.website-files.com/5edaa80e81168beb57896d2f/css/zoom-care.4e6544346.css"
    rel="stylesheet" type="text/css" />
  <script src="../ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">
    WebFont.load({
      google: { families: ["Oswald:200,300,400,500,600,700"] },
    });
  </script>
  <!--[if lt IE 9
      ]><script
        src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"
        type="text/javascript"
      ></script
    ><![endif]-->
  <script type="text/javascript">
    !(function (o, c) {
      var n = c.documentElement,
        t = " w-mod-";
      (n.className += t + "js"),
        ("ontouchstart" in o ||
          (o.DocumentTouch && c instanceof DocumentTouch)) &&
        (n.className += t + "touch");
    })(window, document);
  </script>
  <link href="https://assets-global.website-files.com/5edaa80e81168beb57896d2f/5f2ded34ea706f00b3603f1d_favicon.ico"
    rel="shortcut icon" type="image/x-icon" />
  <link href="https://assets-global.website-files.com/5edaa80e81168beb57896d2f/5f2dedfa7b903331f23c65d9_fav-large.png"
    rel="apple-touch-icon" />
  <link href="/" rel="canonical" />
  <meta http-equiv="X-UA-Compatible" content="IE=8" />
  <script>
    var is_ie =
      navigator.userAgent.indexOf("MSIE") > -1 ||
      navigator.userAgent.indexOf("WOW64") > -1;
    if (is_ie && window.location.pathname !== "/ie-not-allowed") {
      window.location = "ie-not-allowed.html";
    }
  </script>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "../www.googletagmanager.com/gtm5445.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-NKRC77T");
  </script>
  <!-- End Google Tag Manager -->
  <!--Auto Pilot SEO-->
  <script src="../cdn.bc0a.com/autopilot/f00000000265936/autopilot_sdk.js"></script>
  <!--end of Auto Pilot SEO-->
  <!-- Jira Issue Collector
<script async type="text/javascript" src="https://jira2.zoomcare.net/s/d41d8cd98f00b204e9800998ecf8427e-CDN/bi3xfh/807001/5546c4757282071314f17a991d27cd9e/2.2.4.7/_/download/batch/com.atlassian.plugins.jquery:jquery/com.atlassian.plugins.jquery:jquery.js?collectorId=58782788"></script>
<script async type="text/javascript" src="https://jira2.zoomcare.net/s/4ab482708f754afbd9d6e5c22b0ad3ac-T/bi3xfh/807001/5546c4757282071314f17a991d27cd9e/4.0.0/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=58782788"></script>
Jira Issue Collector -->

  <style>
    margin-google-banner {
      margin-top: 40px !important;
    }

    ul-icon {
      list-style-image: url("https://assets-global.website-files.com/5edaa80e81168beb57896d2f/5ef27cbdede8571ae545079a_Check-Green.svg");
    }

    .tabs__menu {
      scrollbar-width: none;
      /* Firefox 64 */
      -ms-overflow-style: none;
      /* Internet Explorer 11 */
    }

    .tabs__menu::-webkit-scrollbar {
      display: none;
      /* WebKit */
    }

    .skip_to_content {
      background: #2e424a;
      left: calc(50vw - 90px);
      padding: 16px 16px 8px 16px;
      color: #fff;
      position: absolute;
      display: none;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      z-index: 10;
    }

    .skip_to_content:focus {
      display: block;
    }

    @media (min-width: 992px) {
      body.modal-active {
        overflow: hidden;
      }

      .nav__dropdown-menu {
        display: none !important;
      }

      .nav {
        background: #ffffff !important;
      }

      .nav__brand__logo {
        color: #2e424a;
      }
    }

    /* START FAQ
 * This is for the FAQ search typeahead.
 * It customizes document elements created by twitter/typeahead.js
*/
    @media screen {
      .twitter-typeahead {
        width: 100%;
      }

      .tt-hint {
        color: #999;
      }

      .tt-menu {
        width: 100%;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      }

      .tt-suggestion {
        padding: 8px 16px;
        font-size: 16px;
        line-height: 24px;
      }

      .tt-suggestion:hover,
      .tt-cursor {
        background: #f2f2f2;
        color: #2e424a;
      }

      .tt-suggestion p {
        margin: 0;
      }
    }

    /* Some pages have a 48px padding on the page content. */
    .page-content {
      padding-bottom: 0px !important;
    }

    /* END FAQ */
  </style>
  <meta name="google-site-verification" content="oxzjTDavxZebgO1H1OQtZfFhDL0_EtTyHsNtHllmxR8" />
  <!-- Activity name for this tag: DFP_OR_PeaceHealthNetworksonDemand,LLCdbaZoomCare_09012021_Conversion -->
  <script>
    (function () {
      var a = String(Math.floor(Math.random() * 10000000000000000));
      new Image().src =
        "https://pubads.g.doubleclick.net/activity;xsp=4850105;ord=1;num=" +
        a +
        "?";
    })();
  </script>
  <!-- //end of Activity name for this tag: DFP_OR_PeaceHealthNetworksonDemand,LLCdbaZoomCare_09012021_Conversion -->
  <link rel="stylesheet" type="text/css"
    href="../cdn.jsdelivr.net/npm/%40splidejs/splide%403.2.2/dist/css/splide-core.min.css" />
  <style>
    .web-bar::-webkit-scrollbar {
      background-color: transparent;
      width: 7px;
    }

    .web-bar::-webkit-scrollbar-thumb {
      background-color: #bdafaf30;
      border-radius: 10px;
    }

    .splide__track {
      overflow: visible;
    }

    .splide__arrow {
      -webkit-transition: all 0.4ms ease-in-out;
      -moz-transition: all 0.4ms ease-in-out;
      -ms-transition: all 0.4ms ease-in-out;
      -o-transition: all 0.4ms ease-in-out;
      transition: all 0.4ms ease-in-out;
    }

    /*
ul.splide__pagination{
	display: none;
}
*/
    .splide__arrow:disabled {
      opacity: 0.3;
    }

    button.splide__pagination__page.is-active {
      background: blue;
    }

    button.splide__pagination__page {
      background: red;
      width: 30px;
      height: 5px;
    }

    ul.splide__pagination li {
      margin: 0 10px 0 0;
    }

    .insurances__accepted__link:after {
      content: "";
      display: inline-block;
      background: red;
      width: 15px;
      height: 15px;
      position: absolute;
    }

    @media screen and (min-width: 320px) {
      .beyond-better-choices {
        margin-top: 140px;
        /*background: blue;*/
      }
    }

    @media screen and (min-width: 375px) {
      .beyond-better-choices {
        margin-top: 110px;
        /*background: red;*/
      }
    }

    @media screen and (min-width: 414px) {
      .beyond-better-choices {
        margin-top: 60px;
        /*background: yellow;*/
      }
    }

    @media screen and (min-width: 720px) {
      .beyond-better-choices {
        margin-top: 0px;
        /*background: green;*/
      }
    }
  </style>
  {% block head %}{% endblock %}
</head>

<body>
  <div data-collapse="medium" data-animation="default" data-duration="300" data-doc-height="1" role="banner"
    data-easing="ease" data-easing2="ease" class="nav w-nav">
    <a href="#main" class="link--reversed link--hover-reversed skip">Skip To Content</a>
    <div class="nav__main__container">
      <a href="/" aria-label="home" aria-current="page" class="nav__brand w-nav-brand w--current"><img
          style="width: 6rem" src="/static/img/Testosterone Replacement Therapy-01.png" loading="lazy"
          alt="Zoomcare logo" class="" /></a>
      <!-- <a
          href="/"
          aria-label="home"
          aria-current="page"
          class="nav__brand w-nav-brand w--current"
          ><img
            src="https://assets-global.website-files.com/5edaa80e81168beb57896d2f/60d25403da44f55388c8d314_ZC_Logo_Blue-No-Reg.svg"
            loading="lazy"
            alt="Zoomcare logo"
            class="image-4" /></a
        > -->
      <a href="/" aria-label="home" aria-current="page" class="mobile_logo w-nav-brand w--current"><img
          style="width: 6rem" src="/static/img/Testosterone Replacement Therapy-01.png" loading="lazy"
          alt="Zoomcare logo" class="" /></a>
      <!-- <a
          href="/"
          aria-label="home"
          aria-current="page"
          class="mobile_logo w-nav-brand w--current"
          ><img
            src="https://assets-global.website-files.com/5edaa80e81168beb57896d2f/609023b5d8e5878570bdc67e_ZC_Logo_White-No-Reg.svg"
            loading="lazy"
            alt="Zoomcare logo"
            class="image-4"
        /></a> -->
      <div class="nav__right">
        <nav role="navigation" class="nav__menu-2 w-nav-menu">
          <!-- <a
              href="schedule.html"
              id="nav-schedule"
              class="nav__link-3 w-nav-link"
              >Schedule</a
            ><a
              href="locations.html"
              id="nav-locations"
              class="nav__link-3 w-nav-link"
              >Locations</a
            ><a
              href="services.html"
              id="nav-services"
              class="nav__link-3 nav__link__services w-nav-link"
              >Services</a> -->
          <a href="/pricing" id="nav-pricing" class="nav__link-3 w-nav-link">Pricing
          </a>
          <a href="/faq" id="nav-pricing" class="nav__link-3 w-nav-link">FAQ
          </a>
          <a href="/doc" id="nav-pricing" class="nav__link-3 w-nav-link">Doc
          </a>
          <a href="timeline.html" id="nav-timeline" class="nav__link-3 timeline__link w-nav-link">My Visits</a>
          {% if loggedin %}
          <a href="/dashboard" id="nav-pricing" class="nav__link-3 w-nav-link">Dashboard            
          {% endif %}
          </a>
          <div id="okta-button-container" data-className="nav__link w-nav-link" class="div-block-59">
            {% if loggedin %}
            <a href="/logout" id="nav-login" class="nav__link-3 w-nav-link">Logout</a>

            {% else %}
            <a href="/login" id="nav-login" class="nav__link-3 login__link w-nav-link">Login</a>
            {% endif %}
          </div>
        </nav>
        <div class="nav__menu-bttn-4 w-nav-button">
          <div class="nav__menu-bttn__icon-4"></div>
          <div class="nav__menu-bttn__icon-4"></div>
          <div class="nav__menu-bttn__icon-4"></div>
        </div>
      </div>
    </div>
  </div>
  {% block content %} {% endblock %}
  <footer role="contentinfo" class="footer wf-section">
    <div class="container container--footer">
      <div class="footer__help">
        <div class="footer__col">
          <h3 class="font-color--reversed">Online Help:</h3>
        </div>
        <div class="footer__col">
          <div class="footer__help__link-2 hide">
            <a href="https://help.zoomcare.com/hc/en-us/categories/360004692791-COVID-19"
              class="footer__link--bold-2">Covid-19 &amp; Flu FAQs</a>
          </div>
          <div class="footer__help__link-2">
            <a href="services.html" class="footer__link--bold-2">Services We Offer</a>
          </div>
          <div class="footer__help__link-2">
            <a href="https://help.zoomcare.com/hc/en-us/categories/360004687072-How-ZOOM-Care-Works"
              class="footer__link--bold-2">How ZoomCare Works</a>
          </div>
        </div>
        <div class="footer__col">
          <div class="footer__help__link-2">
            <a href="https://help.zoomcare.com/hc/en-us/categories/360004687092-Billing-Insurance"
              class="footer__link--bold-2">Billing &amp; Insurance</a>
          </div>
          <div class="footer__help__link-2">
            <a href="https://help.zoomcare.com/hc/en-us/categories/360004692891-Pharmacy-Delivery-"
              class="footer__link--bold-2">Pharmacy Delivery</a>
          </div>
          <div class="footer__help__link-2">
            <a href="https://help.zoomcare.com/hc/en-us/sections/360011411932-Access-my-medical-records-"
              class="footer__link--bold-2">Medical Records</a>
          </div>
        </div>
        <div class="footer__col">
          <div class="footer__help__link-2">
            <a href="https://help.zoomcare.com/hc/en-us" class="footer__link--bold-2">Questions</a>
          </div>
          <div class="footer__help__link-2">
            <a href="https://help.zoomcare.com/hc/en-us/categories/360004692911-Troubleshooting"
              class="footer__link--bold-2">Troubleshooting</a>
          </div>
          <div class="footer__help__link-2">
            <a href="https://help.zoomcare.com/hc/en-us/requests/new" target="_blank" class="footer__link--bold-2">Send
              Us a Message</a>
          </div>
        </div>
      </div>
      <div class="footer__links">
        <div class="footer__col">
          <div class="footer__header">
            <h4 class="font-color--reversed footer-heading">About Us</h4>
          </div>
          <div class="footer__link">
            <a href="about.html" class="link">About ZoomCare</a>
          </div>
          <div class="footer__link">
            <a href="careers.html" class="link">Careers</a>
          </div>
          <div class="footer__link">
            <a href="employer.html" class="link">Employer Program</a>
          </div>
        </div>
        <div class="footer__col">
          <div class="footer__header">
            <h4 class="font-color--reversed footer-heading">How to Pay</h4>
          </div>
          <div class="footer__link">
            <a href="services-prices" class="link">Pricing</a>
          </div>
          <div class="footer__link">
            <a href="insurers.html" class="link">Accepted Insurance</a>
          </div>
          <div class="footer__link">
            <a href="info/free-nights.html" class="link">ZoomCare Free Nights</a>
          </div>
        </div>
        <div class="footer__col">
          <div class="footer__header">
            <h4 class="font-color--reversed footer-heading">Resources</h4>
          </div>
          <div class="footer__link">
            <a href="emergency-care-vs-urgent-care.html" class="link">Choosing Emergency Care vs. Urgent Care</a>
          </div>
          <div class="footer__link">
            <a href="translation.html" class="link">Translation</a>
          </div>
          <div class="footer__link">
            <a href="https://meds.zoomcare.com/" target="_blank" class="link">ZoomCare Pharmacy Delivery</a>
          </div>
          <div class="footer__link">
            <a href="https://assets.website-files.com/5edaa80e81168beb57896d2f/6011171506991670f175ae5a_zoomcare-2020-annual-diversity-report.pdf"
              target="_blank" class="link">2020 Annual Diversity Report</a>
          </div>
        </div>
        <div class="footer__col">
          <div class="footer__header">
            <h4 class="font-color--reversed footer-heading">
              Stay Connected
            </h4>
          </div>
          <div class="footer__link">
            <a href="https://help.zoomcare.com/hc/en-us/sections/360011411932-Access-my-medical-records-"
              target="_blank" class="link">Medical Records</a>
          </div>
          <div class="footer__link">
            <a href="blog.html" class="link">Blog</a>
          </div>
          <div class="footer__link">
            <a href="news" class="link">News &amp; Media</a>
          </div>
          <div class="footer__link">
            <a href="https://apps.apple.com/us/app/zoom-care-on-demand-healthcare/id1070287228" class="link">Download
              iOS App</a>
          </div>
          <div class="footer__link">
            <a href="https://play.google.com/store/apps/details?id=com.zoomcare.mobile&amp;hl=en_US" target="_blank"
              class="link">Download Android App</a>
          </div>
          <div id="google_translate_element" aria-hidden="true" class="mt-1 hide"></div>
        </div>
      </div>
      <div class="be-ix-link-block"></div>
      <div class="footer__end">
        <div class="footer__end__info">
          <h5 class="font-color--reversed">
            11958 SW Garden Place | Tigard, OR 97223
          </h5>
          <div copyright-year='document.getElementById("
              copyright-year").innerHTML= new Date().getFullYear()' class="font-color--reversed-dim">
            <span id="copyright-year" copyright-year='document.getElementById("
                copyright-year").innerHTML= new Date().getFullYear()' class="copyright-year">© 2022 ZoomCare</span>
          </div>
        </div>
        <div class="footer__end__social">
          <a href="https://www.facebook.com/ZOOMCare/" target="_blank"
            class="footer__end__social__link w-inline-block"><img
              src="https://assets-global.website-files.com/5edaa80e81168beb57896d2f/5f08e1c440228a8585b3e813_fb-white.svg"
              alt="facebook icon in white" class="footer__end__social__icon" /></a><a
            href="https://twitter.com/zoomcare" target="_blank" class="footer__end__social__link w-inline-block"><img
              src="https://assets-global.website-files.com/5edaa80e81168beb57896d2f/5f08e1c55dca8017aa5c611a_twitter-white.svg"
              alt="twitter icon in white" class="footer__end__social__icon" /></a><a
            href="https://www.instagram.com/zoomcare/" class="footer__end__social__link w-inline-block"><img
              src="https://assets-global.website-files.com/5edaa80e81168beb57896d2f/5f08e1c5066baeca76ad5526_insta-white.svg"
              alt="instagram icon in white" class="footer__end__social__icon" /></a><a
            href="https://www.linkedin.com/company/zoomcare-pc" class="footer__end__social__link w-inline-block"><img
              src="https://assets-global.website-files.com/5edaa80e81168beb57896d2f/5f08e1c5ce6fe312953c41ec_linkedin-white.svg"
              alt="linkedin icon in white" class="footer__end__social__icon" /></a>
        </div>
      </div>
    </div>
    <div class="footer__legal__container">
      <div class="footer__legal__container">
        <div class="footer-legal__links">
          <a href="info/terms-and-conditions.html" class="footer-legal__link p--small disabled">Terms and Conditions</a>
          <div class="footer-legal__link-divider disabled">|</div>
          <a href="info/terms-of-use.html" class="footer-legal__link p--small">Terms of Use</a>
          <div class="footer-legal__link-divider">|</div>
          <a href="info/privacy-statement.html" class="footer-legal__link p--small">Privacy Policy</a>
          <div class="footer-legal__link-divider">|</div>
          <a href="info/notice-of-privacy-policy.html" class="footer-legal__link p--small">Notice of Privacy Policy</a>
          <div class="footer-legal__link-divider disabled">|</div>
          <a href="info/email-and-text-terms.html" class="footer-legal__link p--small disabled">Email/Text Terms</a>
        </div>
        <div class="footer-legal__hippa">
          <img
            src="https://assets-global.website-files.com/5edaa80e81168beb57896d2f/5f1b59e6d5fb3e33aea15ca6_lock-white.svg"
            alt="icon showing a closed lock" class="footer-legal__icon" />
          <div class="font-color--reversed p--small">HIPAA SECURE</div>
        </div>
      </div>
    </div>
  </footer>
  <script src="../d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8d30d.js?site=5edaa80e81168beb57896d2f"
    type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
  <script src="https://assets-global.website-files.com/5edaa80e81168beb57896d2f/js/zoom-care.2b3e74b37.js"
    type="text/javascript"></script>
  <!--[if lte IE 9
      ]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><!
    [endif]--><!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKRC77T" height="0" width="0"
      style="display: none; visibility: hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Activity name for this tag: DFP_OR_PeaceHealthNetworksonDemand,LLCdbaZoomCare_09012021_Conversion (Noscript) -->
  <noscript>
    <img src="https://pubads.g.doubleclick.net/activity;xsp=4850105;ord=1;num=1?" width="1" height="1" border="0" />
  </noscript>

  <!-- End Activity name for this tag: DFP_OR_PeaceHealthNetworksonDemand,LLCdbaZoomCare_09012021_Conversion (Noscript) -->
  <script src="../cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.6.0/polyfill.js" defer="defer"
    type="text/javascript"></script>
  <style>
    .highlight {
      background-color: yellow;
    }
  </style>
  <script>
      // if (navigator.userAgent.indexOf("MSIE") > -1) {
      // window.location = "/ie-not-allowed"
      //}
  </script>
  <!--google translate-->
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement(
        { pageLanguage: "en", autoDisplay: true },
        "google_translate_element"
      );
    }
  </script>
  <script type="text/javascript"
    src="../translate.google.com/translate_a/elementa0d8.js?cb=googleTranslateElementInit"></script>
  <script>
    function load() {
      var selectLanguage = document.querySelector(".goog-te-combo");
      var googleBanner = document.querySelector(".skiptranslate");
      var navMargin = document.querySelector(".nav");
      var closeButton = document.querySelector(".goog-close-link");

      var observer = new MutationObserver(function (mutations) {
        mutations.forEach(function (mutationRecord) {
          navMargin.classList.toggle("margin-google-banner");
        });
      });

      var target = document.querySelector("body");
      observer.observe(target, {
        attributes: true,
        attributeFilter: ["style"],
      });

      if (document.querySelector("body").style.top === "40px") {
        navMargin.classList.add("margin-google-banner");
      } else if (document.querySelector("body").style.top === "0px") {
        navMargin.classList.remove("margin-google-banner");
      }
    }
    window.onload = load;
  </script>
  <!--end of google translate-->
  <!--skipt to content-->
  <script>
      // var skipToContent = document.querySelector('.skip')
      // var mainSection = document.getElementById('main')

      // skipToContent.addEventListener('click', (e) => {
      //	mainSection.focus()
      // })
  </script>
  <!--end skipt to content-->
  <script src="../twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.min.js" defer="defer"
    type="text/javascript"></script>
  <script defer="defer" type="text/javascript">
    /**
     * START FAQ
     * Search bar typeahead and linking functionality
     */
    $(document).ready(function () {
      var substringMatcher = function (strs) {
        return function findMatches(q, cb) {
          var matches;
          // regex used to determine if a string contains the substring `q`
          var substrRegex = new RegExp(q, "i");

          // an array that will be populated with substring matches
          matches = [];

          // iterate through the pool of strings and for any string that
          // contains the substring `q`, add it to the `matches` array
          $.each(strs, function (i, str) {
            if (substrRegex.test(str)) {
              matches.push(str);
            }
          });

          cb(matches);
        };
      };

      // Get an array of all the topics.
      const allFAQs = $("div.faq-topics__all .w-dyn-item");
      // Pull all the titles from the FAQs for the typeahead search
      const allTitles = allFAQs.map(function (index, element) {
        return $(".faq__heading", element).text();
      });
      // Pull all the link hrefs so we know where to take the user
      const allLinks = allFAQs.map(function (index, element) {
        return $("a.faq__link", element).attr("href");
      });

      // This is the form input
      $(".search-faq__input")
        // Unbind anything that webflow might have added
        .off()
        .unbind()
        // Create a new typeahead instance
        .typeahead(
          {
            highlight: true,
            autoselect: true,
            minLength: 0,
          },
          {
            limit: 25, // This might need to be changed.
            name: "faqs",
            // Use the titles we got before and try to match what the user types.
            source: substringMatcher(allTitles),
          }
        )
        // This event happens when a user selects one of the typeahead suggestions.
        .on("typeahead:selected", function (event, data) {
          const linkIndex = allTitles.toArray().indexOf(data);
          // If we have a title index and a corresponding entry in the link array, take
          // the user to the correct page.
          if (linkIndex !== -1 && allLinks[linkIndex]) {
            window.location.href = allLinks[linkIndex];
          }
        });

      // Ensures that we can't select an item with the keyboard AND mouse.
      $("body").on("mouseover", ".tt-suggestion", function () {
        $(".tt-suggestion").removeClass("tt-cursor");
        $(this).addClass("tt-cursor");
      });
    });
      /* END FAQ */
  </script>
  <script defer="defer" type="text/javascript">
    $(document).ready(function () {
      var $body = $("body");

      function toggleModal(modalId, navId) {
        console.log("toggleModal(" + modalId + "," + navId + ")");
        var isMoreThanMobile = window.matchMedia("(min-width: 992px)");
        if (isMoreThanMobile.matches) {
          var $modal = $(".modal");
          if ($modal.is(":visible")) {
            $modal.hide();
            $(".nav__container").css("background-color", "#FFF");
          }
          if (navId.hasClass("active")) {
            $body.removeClass("modal-active");
            navId.removeClass("active");
          } else {
            $(".nav__dropdown").removeClass("active");
            $body.addClass("modal-active");
            navId.addClass("active");
            $(modalId).show();
          }
        }
      }

      function closeModals() {
        var $modal = $(".modal");
        if ($modal.is(":visible")) {
          $modal.hide();
          $body.removeClass("modal-active");
          $("nav__dropdown").removeClass("active");
          $(".nav__container").css("background-color", "#FFF");
        }
      }

      $("#nav-schedule").click(function () {
        toggleModal("#modal-schedule", $(this));
      });
      $("#nav-locations").click(function () {
        toggleModal("#modal-locations", $(this));
      });

      $(window).resize(closeModals);

      // Make sure that the locations tab in the main menu doesn't collapse when clicking between tabs.
      $("nav.nav__menu.w-nav-menu").off("click");
    });
  </script>
  <script defer="defer" type="text/javascript">
    $(document).ready(function () {
      // Copy the location menu data from the desktop nav dropdown to the mobile nav
      // dropdown divs. This compensates for having this nav menu in two locations on
      // the page, using an enormous amount of collections.
      (function renderSecondaryLocationsTabContent() {
        var numberOfTabs = 6;
        var sourceId = "#w-tabs-1-data-w-pane-";
        var destId = "#w-tabs-0-data-w-pane-";
        // This will copy #w-tabs-1-data-w-pane-{ID} to it's corresponding tab menu
        // <div> at the destination tab menu using the webflow tab naming scheme.
        for (var index = 0; index < numberOfTabs; index++) {
          $(sourceId + index)
            .clone(true) // Copy the div and keep the data and events of the original
            .children() // We want the div content, not the div itself
            .appendTo(destId + index);
        }
      })();

      // Copy the content from the desktop modal to the mobil modal nav for schedule:
      $("#modal-schedule .modal__content")
        .clone(true)
        .children()
        .appendTo(".nav__dropdown-menu__schedule");
    });
  </script>
  <script>
    //change login/account link in the nav
    const loginLink = document.querySelector(".login__link");
    const TimelineLink = document.querySelector("#nav-timeline");
    const session = JSON.parse(sessionStorage.getItem("root"));
    if (
      (session && session.loginStore && session.loginStore.isLoggedIn) ||
      window.zcIsAuthenticated
    ) {
      console.log("isAuthenticated");
      loginLink.innerText = "Account";
      loginLink.classList.remove("login__link");
      loginLink.setAttribute("href", "/account-settings");
      loginLink.setAttribute("id", "authentication-button-account");
      TimelineLink.classList.remove("timeline__link");
      TimelineLink.removeAttribute("aria-hidden");
    } else {
      loginLink.innerText = "Login";
      loginLink.classList.add("login__link");
      TimelineLink.classList.add("timeline__link");
      TimelineLink.setAttribute("aria-hidden", "true");
    }
  </script>
  <script>
    //Nav Shadow add/remove
    let navBarShadow = document.querySelector(".nav");
    window.addEventListener("scroll", () => {
      if (window.scrollY > 0) {
        navBarShadow.classList.add("shadow");
      } else {
        navBarShadow.classList.remove("shadow");
      }
    });
  </script>
  <script defer="defer" type="text/javascript">
    /*
  The purpose of this script is to load necessary JavaScript, environment
  variables, styling and other static assets.
*/

    let baseScriptURI = "https://d2p22nex8covni.cloudfront.net/";
    let uaMeasurementId = "UA-406058-3";
    let minified = true;

    switch (window.location.hostname) {
      case "qa.zoomcare.com":
        baseScriptURI = baseScriptURI + "/qa";
        break;
      case "uat.zoomcare.com":
        baseScriptURI = baseScriptURI + "/uat";
        break;
      case "local.zoomcare.dev":
      case "zoom-care-dev.webflow.io":
        baseScriptURI = "http://localhost:5000/";
        minified = false;
        break;
      default:
        baseScriptURI = baseScriptURI + "/prod";
        uaMeasurementId = "UA-406058-1";
    }

    const scriptQueue = [];

    /**
     * Scripts are added to queue with addScript. All scripts are downloaded as soon as possible,
     * but the queue is held to only execute them in the order they were added.
     */
    function processScriptQueue() {
      $(() => {
        if (scriptQueue.length) {
          const nextScript = scriptQueue[0];
          // if script is ready, run it
          if (nextScript.status == "ready") {
            // mark it as executing so it's not run again
            nextScript.status = "executing";
            scriptQueue.shift();
            // force execution to next event cycle just in case
            nextScript.script && $.globalEval(nextScript.script);
            setTimeout(() => {
              // force next script to next event cycle just in case
              processScriptQueue();
            });

            // if failed, skip it
          } else if (nextScript.status == "failed") {
            scriptQueue.shift();
            processScriptQueue();
          }
          // otherwise the next script isn't ready -- don't try to do others yet.
        }
      });
    }

    function addScript(src, main) {
      const scriptQueueItem = {
        script: null,
        status: "fetched",
      };

      $.get({
        url: src,
        dataType: "script",
        converters: {
          "text script": function (text) {
            // defer the actual execution until we're ready
            return text;
          },
        },
      })
        .done(function (script) {
          console.log("Script Loaded: " + src);
          // mark the queue item as completed and provide eval
          scriptQueueItem.status = "ready";
          scriptQueueItem.script = script;
          processScriptQueue();
        })
        .fail(function (jqxhr, settings, exception) {
          console.log("Failed to load the script: " + src, exception);
          scriptQueueItem.status = "failed";
          if (main) {
            $("#react-mount-loading").hide();
            $("#react-mount-error").show();
          }
        });

      scriptQueue.push(scriptQueueItem);
    }

    function addCSS(src) {
      $(() => {
        const linkElement = document.createElement("link");
        linkElement.setAttribute("rel", "stylesheet");
        linkElement.setAttribute("type", "text/css");
        linkElement.setAttribute("href", src);
        document.body.appendChild(linkElement);
      });
    }

    addScript(baseScriptURI + "/env.js", false);
    addScript(
      baseScriptURI + "/dist/index" + (minified ? ".min" : "") + ".js",
      true
    );
    addCSS(baseScriptURI + "/dist/index.css");

    $(document).ready(function () {
      console.log("document.ready - checking indices.");
      // Our UI library in conjunction with our rendering library sets tabindexes to -1 resulting
      // in some strange behavior. When the page loads, loop over all visible inputs and set it
      // to zero to force tabbing in the correct sequence.
      $("#react-mount-page-content").bind("DOMSubtreeModified", function (e) {
        if (e.target.innerHTML.length > 0) {
          $("#react-mount-page-content :input:visible").attr("tabindex", "0");
        }
      });
    });
  </script>
  <script src="../cdn.jsdelivr.net/npm/%40splidejs/splide%403.2.2/dist/js/splide.min.js"></script>
  <script>
    function slider1() {
      let splides = $(".slider1");
      for (let i = 0, splideLength = splides.length; i < splideLength; i++) {
        new Splide(splides[i], {
          // Desktop on down
          perPage: 3,
          perMove: 3,
          focus: 0, // 0 = left and 'center' = center
          type: "slide", // 'loop' or 'slide'
          gap: "2em", // space between slides
          arrows: "slider", // 'slider' or false
          pagination: false, // 'slider' or false
          speed: 600, // transition speed in miliseconds
          dragAngleThreshold: 60, // default is 30
          autoWidth: false, // for cards with differing widths
          rewind: true, // go back to beginning when reach end
          rewindSpeed: 400,
          waitForTransition: false,
          updateOnMove: true,
          trimSpace: true, // true removes empty space from end of list
          breakpoints: {
            991: {
              // Tablet
              perPage: 3,
              gap: "3vw",
            },
            767: {
              // Mobile Landscape
              perPage: 1,
              perMove: 1,
              gap: "3vw",
            },
            479: {
              // Mobile Portrait
              perPage: 1,
              perMove: 1,
              gap: "3vw",
            },
          },
        }).mount();
      }
    }
    slider1();

    function slider2() {
      let splides = $(".slider2");
      for (let i = 0, splideLength = splides.length; i < splideLength; i++) {
        new Splide(splides[i], {
          // Desktop on down
          perPage: 5,
          perMove: 1,
          focus: "center", // 0 = left and 'center' = center
          type: "loop", // 'loop' or 'slide'
          gap: "4em", // space between slides
          arrows: "slider", // 'slider' or false
          pagination: "slider", // 'slider' or false
          speed: 550, // transition speed in miliseconds
          dragAngleThreshold: 80, // default is 30
          autoWidth: false, // for cards with differing widths
          rewind: false, // go back to beginning when reach end
          rewindSpeed: 800,
          waitForTransition: false,
          updateOnMove: true,
          trimSpace: false,
          breakpoints: {
            991: {
              // Tablet
              perPage: 3,
              gap: "4vw",
            },
            767: {
              // Mobile Landscape
              perPage: 1,
              gap: "4vw",
            },
            479: {
              // Mobile Portrait
              perPage: 1,
              gap: "4vw",
            },
          },
        }).mount();
      }
    }
    slider2();
  </script>
  <script>
    setTimeout(() => {
      let first = document.querySelectorAll("[data-testid]")[2];
      let second = document.querySelectorAll("[data-testid]")[3];
      first.addEventListener("click", (e) => {
        setTimeout(() => {
          if (first.childNodes[1]) {
            first.childNodes[1].style.overflow = "auto";
            first.childNodes[1].firstChild.style.overflow = "auto";
          } else {
            return;
          }
        }, 10);
      });
      second.addEventListener("click", (e) => {
        setTimeout(() => {
          if (second.childNodes[1]) {
            second.childNodes[1].style.overflow = "auto";
            second.childNodes[1].firstChild.firstChild.style.removeProperty(
              "overflow"
            );
            second.childNodes[1].firstChild.firstChild.classList.add(
              "web-bar"
            );
          } else {
            return;
          }
        }, 10);
      });
    }, 2000);
  </script>
  {% block scripts %}{% endblock %}
</body>

</html>